<h3>Comments</h3>
<% @post.comments.each do |comment| %>
  <p><strong><%= comment.user.name %></strong>: <%= comment.body %>
  <% if @current_user.present? %>
    <%= button_to "Delete", [comment.post, comment], :class => 'btn btn-danger', :method => :delete, :data => {:confirm => 'Are you sure?'} %>
    <% else %>
    <%= button_to "Delete", login_path, :class => 'btn btn-danger' %></p>
  <% end %>
<% end %>
