body {
  background-image: url(/assets/img001.jpg);
  background-size: cover;
  background-color: rgb(60, 61, 62);
}

.container {
  background-color: rgba(228, 228, 228, 0.7);
  padding: 10px;
  border-radius: 4px;
  box-shadow: 0 0 25px black;
  width: 85%;
}

nav {
  text-align: center;
  padding: 10px;
  margin: 5px;
  box-shadow: 0 0 25px black;
}

.navbar {
  background-color: rgba(194, 189, 191, 0);
}

a {
  text-decoration: none;
}

a:hover {
  background: rgb(170, 165, 164);
  text-decoration: none;
}

.blog {
  padding: 20px;
  border: 1px solid rgb(94, 94, 94);
  border-radius: 5px;
  box-shadow: 0 0 25px black;
}

hr {
  border: 1px solid rgb(94, 94, 94);
  border-radius: 100%;
  box-shadow: 0 0 15px black;
}
